{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ judul }}</title>
</head>
<body class="leading-normal tracking-normal text-indigo-400 m-6 bg-cover bg-fixed p-5">
  {% block content %}

  <!--Main-->
  <div class="container pt-20 lg:px-10 px-2 lg:pt-24 mx-auto flex flex-wrap flex-col lg:flex-row items-center">
    <!--Left Col-->
    <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
      <h1 class="my-4 text-xl md:text-3xl opacity-75 font-bold leading-tight text-center md:text-left">
        Pastikan
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
          berita, informasi dan data
        </span>
        yang kamu dapat itu benar!
      </h1>
      <p class="leading-normal text-gray-500 text-base md:text-2xl mb-8 text-center md:text-left">
        So soan masuk akun, masuk ke hatinya aja gabisa, cuakss..
      </p>
      <form action="" method="POST" class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg lg:px-8 px-2 pt-6 pb-8 mb-4">
       {% csrf_token %}
      <h1 class="my-4 text-xl lg:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
        NIS anda sudah terdaftar, silahkan lanjutkan!
      </h1>
        <div class="mb-4">
          <label class="block text-blue-300 py-2 font-bold mb-2" for="emailaddress">
            {{ user_used }}
          </label>
        </div>
         <div class="mb-4">
          <label class="block text-blue-300 py-2 font-bold mb-2" for="emailaddress">
            Password
          </label>
          {{ form.password }}
        </div> 

        <div class="flex items-center justify-between pt-4">
          <button
            class="bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
            type="submit"
            value="checknis"
          >
            Lanjut
          </button>
        </div>
      </form>
    </div>

    
    <!--Right Col-->
    <div class="w-full xl:w-3/5 p-12 overflow-hidden">
      <img class="mx-auto w-full md:w-4/5 transform -rotate-6 transition hover:scale-105 duration-700 ease-in-out hover:rotate-6" src="{% static 'img/macbook.svg' %}" />
    </div>


  {% endblock content %}
</body>
</html>