{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ judul }}</title>
</head>
<body class="leading-normal tracking-normal text-indigo-400 m-6 bg-cover bg-fixed p-5">
  {% block content %}



  <!--Main-->
  <div class="container pt-20 px-10 md:pt-24 mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <!--Left Col-->
    <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
      <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
        Temukan berbagai
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
          Catatan, Tugas, Soal
        </span>
        demi kemudahan para siswa!
      </h1>
      <p class="leading-normal text-gray-500 text-base md:text-2xl mb-8 text-center md:text-left">
        Cielah baru daftar, selama ini kemana aja ha? percuma daftar kalo gada daftar nama lu di hatinya
      </p>

      <form action="" method="POST" class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <h1 class="my-4 text-xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
        NIS anda belum terdaftar!
      </h1>
        {% if status == True %}
  
  <!-- Warning -->
<div
  class="bg-yellow-50 border-b border-yellow-400 text-yellow-800 text-sm p-4 flex justify-between">
  <div>
    <div class="flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4 mr-2"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
          clip-rule="evenodd"
        />
      </svg>
      <p>
        <span class="font-bold">Info:</span>
        Password tidak sama!
      </p>
    </div>
  </div>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </div>
</div>
  
  {% endif %}
        <div class="mb-4">
          <label class="block text-blue-300 py-2 font-bold mb-2">
            {{ user_new }}
          </label>
        </div>
         <div class="mb-4">
          <label class="block text-blue-300 py-2 font-bold mb-2">
            Buat Password {{ user_new}}
          </label>
          {{ form.password }}
        </div> 
        <div class="mb-4">
          <label class="block text-blue-300 py-2 font-bold mb-2">
            Konfirmasi Password
          </label>
          {{ form.confirm_password }}
        </div> 
        <div class="mb-4">
            <label class="block text-blue-300 py-2 font-bold mb-2">
              Nama Lengkap
            </label>
            {{ form.first_name }}
          </div> 
          <div class="mb-4">
            <label class="block text-blue-300 py-2 font-bold mb-2">
              Nama Panggilan
            </label>
            {{ form.last_name }}
          </div> 

        <div class="flex items-center justify-between pt-4">
          <button
            class="bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
            type="submit"
            value="checknis"
          >
            Lanjut
          </button>
        </div>
      </form>
    </div>

    <!--Right Col-->
    <div class="w-full xl:w-3/5 p-12 overflow-hidden">
      <img class="mx-auto w-full md:w-4/5 transform -rotate-6 transition hover:scale-105 duration-700 ease-in-out hover:rotate-6" src="{% static 'img/macbook.svg' %}" />
    </div>


  {% endblock content %}
</body>
</html>