{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ judul }}</title>
</head>
<body class="leading-normal tracking-normal text-indigo-400 m-6 bg-cover bg-fixed p-5">
  {% block content %}

  <!--Main-->
  <div class="container pt-20 px-10 md:pt-24 mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <!--Left Col-->
    <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
      <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
        Selamat Datang
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
          {{ content.last_name }} ,
        </span>
         Selamat Belajar!!!
      </h1>
      <p class="leading-normal text-gray-500 text-base md:text-2xl mb-8 text-center md:text-left">
        "Kamu semangat ya!"
        <br/><br/>
        udahan yu nyemangatin diri sendiri, minimal disemangatin DOII 
      </p>


      
       <a
          class="bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
          href="{% url "logout" %}"
        >
          Logout
        </a>
        <br/>
        {% comment %} <h2 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
        Data Siswa Yang Mendaftar</h2>

          {% for profile in data_profile %}
          <div class="bg-gradient-to-r from-purple-900 to-gray-900 opacity-75 w-full shadow-lg my-2 rounded-lg px-8 pt-6 pb-8 mb-4 text-white">
              <h2 class="text-xl">{{ profile.nama_lengkap }}</h2>
              <p>Kelas: {{ profile.kelas }} {{ profile.jurusan }}</p>
              <p>Hobi: {{ profile.hobi }}</p>
              <p>Jenis Kelamin : {{ profile.jenis_kelamin }}</p>
          </div>
          {% endfor %} {% endcomment %}
     
    </div>

    <!--Right Col-->
    <div class="w-full xl:w-3/5 p-12 overflow-hidden">
      <img class="mx-auto w-full md:w-4/5 transform -rotate-6 transition hover:scale-105 duration-700 ease-in-out hover:rotate-6" src="{% static 'img/macbook.svg' %}" />
    </div>


  {% endblock content %}
</body>
</html>